@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$azul, v.$blanco)
}

.boton-comun{
    @include m.boton(v.$colorCabacera, v.$colorTexto);
    max-width: 30%;
    text-align: center;
    margin: 0 auto 2rem auto;
    border-radius: 1rem;
}

.boton-comun-enviar{
    @include m.boton(v.$colorCabacera, v.$colorTexto);
    text-align: center;
    margin: 0 auto 2rem auto;
    border-radius: 1rem;
}