@use 'base/variables' as v;
@use 'base/mixins' as m;

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px;
    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr ;
        align-items: center;
        justify-content: center;  
        grid-template-columns: 1fr 1fr;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 3rem;
}
.left img{
    height: 400PX;
    width: 400PX;
    border-radius: 20px;
    filter: drop-shadow(0 0 5px v.$colorCabacera);
}
.right {
    padding: 20px;
    span{
        font-weight: v.$bold;
    }
}
// .right p{
//     font-weight: 500;
//     // color: white;
// }

// .property-name {
//     font-size: 1.9rem;
//     font-weight: bold;
//     margin: 0;
// }