@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-carrito{
    @include m.tablet{
        display: grid;
        grid-template-columns: 2fr 1fr;
        min-height: 100vh;
    }
    .carrito-derecha{

        @include m.tablet{
            height: auto;
        }
    }
    .carrito-izquierda{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        box-sizing: border-box;
     
        @include m.tablet {
            // display: flex;
            // flex-direction: column;
            overflow: scroll;
            overflow-x: hidden;
            margin-right: 0;
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            .cajaCarrito{
                display: grid;
                grid-template-columns: repeat(4, 1fr);   
                align-items: center;
                justify-items: center;
                justify-content: center;         
                gap: 3rem;            
                border: 2px solid #ff6550;
            }
     
            &::-webkit-scrollbar {
                width: 0.9rem;
            }
     
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255,255,255, .4);
                border-radius: 5px;
            }          
        }
    }
}