@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-carrito{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .carrito-derecha{

        @include m.tablet{
            height: auto;
        }
    }
    .carrito-izquierda{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        box-sizing: border-box;
     
        @include m.tablet {
            overflow: scroll;
            overflow-x: hidden;
            margin-right: 0;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
     
            &::-webkit-scrollbar {
                width: 0.9rem;
            }
     
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255,255,255, .4);
                border-radius: 5px;
            }
        }
    }
}