@use 'base/variables' as v;
@use 'base/mixins' as m;

:root {
    --color-1: #F2D541;
    --color-2: #F2C641;
    --color-3: #F2F2F2;
    --color-4: #000000; 
    --fuente: 'Montserrat', sans-serif;
}

// body {
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;
//     background-color: v.$colorFondoPagina;
//     color: v.$blanco;
// }
// *, *:before, *:after {
//     box-sizing: inherit;
// }

.banner {
    background-image: url(../img/apiario3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /* La imagen de fondo se ajustará al 100% del ancho y alto del contenedor */
    height: 250px; /* Ajusta la altura del contenedor según sea necesario */
    position: relative;
    margin-bottom: 3.2rem;
    margin-top: 0rem;
    width: auto;
}

.contenido-banner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-banner h1{
    color: var(--color-2);
}

.contenedor-contactanos{
    width: auto;
    margin-top: 10px;
    margin-right: 3.2rem;
    margin-bottom: 0;
    margin-left: 3.2rem;
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    @include m.tablet {
        display: flex;
        flex-direction: row;        
    }
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
    background-color: white;
    padding: 3.2rem;
    border-radius: 2.56rem;
}

.formulario-contacto {
    border: 1px solid #CED5D7;
        border-radius: 6px;
        padding: 45px 45px 20px;
        margin-top: 50px;
        background-color: white;
        box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    @include m.tablet {        
        width: auto; // Ancho automático para tablets
    }
    @include m.desktop {
        width: 500px;
    }
}

.formulario-contacto label{
    display: block; 
    font-weight: bold;
    color: #000000;
}
.formulario-contacto div{
    margin-bottom: 15px; 
}

.campo-contacto input{
    padding: 7px 6px;
    width: auto;
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
    @include m.tablet{
        width: 90%;
    }
}

.campo-contacto textarea{
    padding: 7px 6px; 
    height: 9rem;
    border: 1px solid #CED5D7;
    resize: none; 
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
    width: 100%;
    @include m.tablet {
        width: auto;
        width: 90%;
    };
}

.campo-contacto input:focus, .campo-contacto textarea:focus{
    outline: none; 
    box-shadow:0 0 0 3px #dde9ec;
}

.boton-enviar input{
    background-color: var(--color-4);
    color: var(--color-2);
    border-radius: 7px;
    font-weight: bold;
    border: 1px solid var(--color-2);
    cursor: pointer;
    width: 100px;
    height: auto;
}

.boton-enviar input:hover {
    background-color: var(--color-2);
    color: var(--color-4);
}

.mapa h3{
    text-align: center;
}

.mapa iframe{
    width: 300px; 
    @include m.tablet {
        border: 1px solid #CED5D7;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
        width: 400px; 
    }
      
}

.infoContactenos{
    h2{
        margin-top: 6rem;
    }
}

.infoRedes{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @include m.tablet {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 8rem;
    }
}

.redSocial{
    margin-top: 1rem;
    margin-bottom: 2.6rem;
    p{
        margin: 0;
        color: v.$colorTexto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    a{
        display: flex; /* Usa flexbox para alinear el contenido del enlace */
        align-items: center; /* Centra verticalmente el contenido del enlace */
        text-decoration: none; /* Elimina el subrayado del enlace */
        color: v.$colorTexto; /* Color del texto */
    }

    @include m.tablet {
        &:nth-child(1){
            justify-self: end;
            margin-right: 3rem;
        }
        &:nth-child(2){
            justify-self: start;
        }
    }
       
}